*{
    background-color: #242424;
    color: white;
}

.Banner
{
  display: flex;
  border-style: solid;
  border-width: 2px;
  border-color: aqua;
  margin: 10px;
  padding: 10px;
  justify-self: center;
  align-items: center;
}


.FavoritePageButton 
{
  justify-self: right;
  margin-left: 20px;
}

.FavoritesButtons
{
  cursor: pointer;
}

.Posts
{
    border-style: solid;
  border-width: 2px;
  border-color: white;
  margin: 20px;
  padding: 5px;
}